[mcu PITB]
##  ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0
canbus_uuid=00a97d250847

#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
##	Connected to MOT0 (B Motor)
step_pin: PITB:gpio6
dir_pin: !PITB:gpio5
enable_pin: !PITB:gpio20
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: EBB:PA15 #^PITB:gpio16
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 100 #25   #Max 100
homing_retract_dist: 5
homing_positive_dir: true
second_homing_speed: 25

[tmc5160 stepper_x]
## Soft SPI
spi_software_sclk_pin: PITB:gpio2
spi_software_mosi_pin: PITB:gpio3
spi_software_miso_pin: PITB:gpio4
cs_pin: PITB:gpio1
interpolate: True
#diag0_pin: PITB:gpio7
run_current: 0.800 
hold_current: 0.500
##stealthchop_threshold: 0
sense_resistor: 0.075

[stepper_y]
##	Connected to MOT1 (A Motor)
step_pin: PITB:gpio13
dir_pin: !PITB:gpio23
enable_pin: !PITB:gpio22
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PITB:gpio17
position_min: 0
position_endstop: 305.5
position_max: 305.5
homing_speed: 100 #25  #Max 100
homing_retract_dist: 5
homing_positive_dir: true
second_homing_speed: 25

[tmc5160 stepper_y] 
# Soft SPI
spi_software_sclk_pin: PITB:gpio2
spi_software_mosi_pin: PITB:gpio3
spi_software_miso_pin: PITB:gpio4
cs_pin: PITB:gpio21 #10
#diag0_pin: PITB:^gpio14
interpolate: True 
run_current: 0.8
hold_current: 0.5
##stealthchop_threshold: 0
sense_resistor: 0.075

#[fan_generic fg1]
# FAN0
#pin: PITB:gpio0

#[fan_generic fg2]
# FAN1
#pin: PITB:gpio18

[temperature_sensor chamber]
# T0 GPIO26
# T1 GPIO27
# T2 GPIO28
sensor_type: Generic 3950
sensor_pin: PITB:gpio26
min_temp: 0
max_temp: 100
gcode_id: C

[output_pin activity_led]
pin: PITB:gpio15