[include autotune_tmc.cfg]
[include pitbv2.cfg]
[include leds.cfg]
[include Hotkey.cfg]
[include ebb2.cfg]
[include macros.cfg]
[include shaketune.cfg]
[include adxl_usb.cfg]
[virtual_sdcard]
path: /home/tim/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_3D0028001450325635393320-if00

[printer]
kinematics: limited_corexy #corexy
max_velocity: 1000  
max_accel: 10000	
max_x_accel: 12000
max_y_accel: 5000
max_z_velocity: 10			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 100
square_corner_velocity: 5.0

[exclude_object]

#####################################################################
#      X/Y Stepper Settings
#####################################################################

## In PITB

#####################################################################
#   Z Stepper Settings
#####################################################################

## In Z-MOT Position
## Z0 Stepper - Front Left
[stepper_z]
step_pin: PD14
dir_pin: PD13
enable_pin: !PD15
rotation_distance: 4
full_steps_per_rotation: 200
# no gear_ratio line at all
microsteps: 16
position_max: 290
position_min: -5
homing_speed: 15 #8

#Beacon
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to 0

[tmc2209 stepper_z]
uart_pin: PD10
interpolate: True
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E1-MOT Position
##	Z1 Stepper - Rear Center
[stepper_z1]
step_pin: PE6
dir_pin: PC13
enable_pin: !PE5
rotation_distance: 4
full_steps_per_rotation: 200
# no gear_ratio line at all
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PC14
interpolate: True
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E3-MOT Position
##	Z2 Stepper - Front Right
[stepper_z2]
step_pin: PD12
dir_pin: PC4
enable_pin: !PE8
rotation_distance: 4
full_steps_per_rotation: 200
# no gear_ratio line at all
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PA15
interpolate: true
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Extruder
#####################################################################

##	In EBB

#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
##	SSR Pin - In BED OUT position
heater_pin: PB4
sensor_type: Generic 3950 # NTC 100K MGB18-104F39050L32
##  Uncomment below for SpiderVersion 1.x
#sensor_pin: PC3 # TB Position
##  Uncomment below for SpiderVersion 2.2
sensor_pin: PB0 # TB Position
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#	Probe
#####################################################################

## Nope. We have Beacon.

#####################################################################
#	Fan Control
#####################################################################

[temperature_sensor Pi] 
sensor_type: temperature_host
max_temp: 110

[temperature_sensor Spider]  
sensor_type: temperature_mcu
sensor_mcu: mcu
max_temp: 100

[temperature_sensor PITB]  
sensor_type: temperature_mcu
sensor_mcu: PITB
max_temp: 100

[temperature_sensor Hotkey]  
sensor_type: temperature_mcu
sensor_mcu: hotkey
max_temp: 100

#[temperature_sensor Electrics_Bay]
#sensor_type: Generic 3950
#sensor_pin: PC0

[fan_generic electrics_bay]
pin: PA13
kick_start_time: 0.5
shutdown_speed: 1.0
min_power: 0.15
initial_speed: 0.15

[fan_generic nevermore]
# Nevermore - In E1 OUT Position
pin: PC8
kick_start_time: 0.500
initial_speed: 0
kick_start_time: 0.5
shutdown_speed: 1.0
min_power: 0.5

#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 3600
    
## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

[include autotune_tmc.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.9490245602195588,
#*# 	2.200216741331097,
#*# 	0.5456559443546272,
#*# 	0.10808284437996604,
#*# 	0.21371124179844292,
#*# 	0.2918767846990261,
#*# 	-0.2437339822688729,
#*# 	-0.36853875557406257,
#*# 	0.13469231853519778,
#*# 	0.17204928728979252
#*# model_domain = 3.1941217278600525e-07,3.2930672376120474e-07
#*# model_range = 0.199167,4.999167
#*# model_temp = 24.801177
#*# model_offset = 0.00000
#*#
#*# [z_tilt_ng]
#*# z_offsets = 0.022996, 0.194898, -0.055631
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 60.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 11.118
#*# pid_ki = 0.176
#*# pid_kd = 175.666